<!doctype html>

<html lang="en">

<head>
    <meta name="uri-translation" content="on"/>

    {% include 'blotout-theme' %}

    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-PLHV4BS"></script>

    <!-- No Index for Vendors Page -->
    {%- if request.path == '/collections/vendors' -%}
        <meta name="robots" content="noindex">
    {%- endif -%}

    <!-- Shipping Protection Redirect -->
    {% if product.url contains 'navidium-shipping-protection' %}
        <script>
            window.location.href = "/";
        </script>
    {% endif %}

    <!-- Insoles Redirect -->
    {%- if
            product.url contains 'products/vktry-performance-insoles-3' or
            product.url contains 'products/vktry-performance-insoles-4' or
            product.url contains 'products/vktry-performance-insoles-5' or
            product.url contains 'products/vktry-performance-insoles-6'
    -%}
        <script>
            window.location.href = '/products/vktry-insoles-gold';
        </script>
    {%- endif -%}

    <!--Title & Meta-->
    <title>
        {{ page_title -}}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}"/>
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}">

    <!-- Swiper JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.0/swiper-bundle.min.css" integrity="sha512-n/86mxSdfFpsFtq9QYVhRlke9BQ/ZqIaRBe/dboH4l8JwBVitjpCS2HnDfbZnISV5Zq1lKONL/aQDqDQmtY/cA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.0/swiper-bundle.min.js" integrity="sha512-sR63/L3Slqn0OWMMafv7gmRGxkYJOcfgdN3jznwea9NYiett6R+cGdZ0t0TRHeH1gZogMyLE1oQpQ0Lc6ULKbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Swal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.2/sweetalert2.all.min.js" integrity="sha512-SK3zv9THqmpMz5vgYjzMUplj1kKAkRC6j+xIC0XPcrGKntTmxhYQzgsysgwDq+WKG0CARR1YQKoqGsNlaNMvKg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/dge3sjv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Global CSS -->
    <link href="{{ 'theme-global.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'theme-header.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'theme-footer.css' | asset_url }}" rel="stylesheet">

    <!-- Global JS -->
    <script>
        const currency = `{{ cart.currency.symbol }}`;
    </script>
    <script src="{{ 'theme-global.js' | asset_url }}" defer></script>
    <script src="{{ 'theme-header.js' | asset_url }}" defer></script>
    <script src="{{ 'theme-dialog-polyfill.js' | asset_url }}" defer></script>

    <!-- Site Settings -->
    <script>
        const vktrySettings = {{ settings | json }};
    </script>

    <!-- Page Specific CSS/JS -->
    {% if template.name == "product" %}
        <!-- Product -->
        <link href="{{ 'main-product.css' | asset_url }}" rel="stylesheet">
    {% if product.handle == "vktry-insoles-gold" or product.handle == "vktry-insoles-silver" or product.handle == "vktry-insoles-platinum" %}
    {% if product.handle == "vktry-insoles-gold" %}
        <script>
            const productTo = {
                "99 - 120lbs": {{ all_products["vktry-insoles-gold"] | json }},
                "121 - 150lbs": {{ all_products["vktry-performance-insoles-3"] | json }},
                "151 - 180lbs": {{ all_products["vktry-performance-insoles-4"] | json }},
                "181 - 210lbs": {{ all_products["vktry-performance-insoles-4"] | json }},
                "211 - 230lbs": {{ all_products["vktry-performance-insoles-5"] | json }},
                "231 - 260lbs": {{ all_products["vktry-performance-insoles-5"] | json }},
                "261lbs - Up": {{ all_products["vktry-performance-insoles-6"] | json }}
            };
        </script>
    {% endif %}
    <link href="{{ 'main-product-insoles.css' | asset_url }}" rel="stylesheet">
    {% if template.suffix contains "multi" %}
        <script src="{{ 'main-product-insoles-multi.js' | asset_url }}" defer></script>
    {% else %}
        <script src="{{ 'main-product-insoles.js' | asset_url }}" defer></script>
    {% endif %}
    {% else %}
        <script src="{{ 'main-product.js' | asset_url }}" defer></script>
    {% endif %}
        <script>
            let product = {{ product | json }};
            let activeVariant = {{ product.selected_or_first_available_variant | json }};
        </script>
    {% endif %}

    {% if template.name == "collection" or template.name == "search" %}
        <!-- Collection -->
        <link href="{{ 'main-collection.css' | asset_url }}" rel="stylesheet">
        <script>
            const collection = {{ collection | json }};
            collection.products = {{ collection.products | json }};
        </script>
        <script src="{{ 'main-collection.js' | asset_url }}" defer></script>
    {% endif %}

    {% if template.name == "cart" %}
        <!-- Cart -->
        <link href="{{ 'main-cart.css' | asset_url }}" rel="stylesheet">
        <script>
            const cart = {{ cart | json }};
        </script>
        <script src="{{ 'main-cart.js' | asset_url }}" defer></script>
    {% endif %}

    {% if template contains "customers" %}
        <!-- Customers -->
        <link href="{{ 'main-customers.css' | asset_url }}" rel="stylesheet">
    {% endif %}

    {% if template.name == "list-collections" %}
        <!-- List Collections -->
        <link href="{{ 'main-list-collections.css' | asset_url }}" rel="stylesheet">
    {% endif %}

    {% if template.name == "blog" %}
        <!-- Blog -->
        <link href="{{ 'main-blog.css' | asset_url }}" rel="stylesheet">
    {% endif %}

    {% if template.name == "article" %}
        <!-- Article -->
        <link href="{{ 'main-article.css' | asset_url }}" rel="stylesheet">
    {% endif %}

    {% if template.name == "password" %}
        <!-- Password -->
        <link href="{{ 'main-password.css' | asset_url }}" rel="stylesheet">
    {% endif %}

    <!-- Facebook -->
    <meta name="facebook-domain-verification" content="746k24eeouu4eet639meku4onwsree"/>

    <!-- Social Meta -->
    {%- include 'social-meta' -%}

    <!-- Friend Buy -->
    {% include 'friend-buy' %}

    <!-- Taboola Pixel -->
    {% include 'taboola-pixel' %}

    <!-- Zoorix -->
    {% render 'zoorix-head' %}

    <!-- Shogun -->
    {% render 'shogun-head' %}

    <!-- Retention -->
    {% render 'retention' %}

    <!-- Loyalty Lion -->
    {% include "loyaltylion" %}

    <!-- Keep and share -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFNQKR" height="0" width="0"
                style="display: none; visibility: hidden;"></iframe>
    </noscript>

    <!-- Intelligems -->
    <script src="https://cdn.intelligems.io/a0e838b5dd1c.js"></script>

    <script>
        (function (w, d, t, r, u) {
            var f, n, i;
            w[u] = w[u] || [], f = function () {
                var o = {ti: "11042346"};
                o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
            }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () {
                var s = this.readyState;
                s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
            }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)
        })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
    </script>
    <script>
        (function (w, d, t, r, u) {
            var f, n, i;
            w[u] = w[u] || [], f = function () {
                var o = {ti: "5257168"};
                o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
            }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () {
                var s = this.readyState;
                s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
            }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)
        })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
    </script>

    <!-- Shopify -->
    {{ content_for_header }}
    <meta name="google-site-verification" content="71tHI0hc6PfBw-PmAz38PsxhPVekGvwYC82WBqlvRus" />
</head>

<body>

<!-- Header -->
{% section "theme-header" %}
{% section "theme-quick-menu" %}
{% section "theme-announcement" %}

<main>
    {{ content_for_layout }}
</main>

<!-- Footer -->
{% section "theme-footer" %}

<!-- Rebuy -->
<div data-rebuy-id="60640"></div>

<!--Gorgias Chat Widget Start-->
<script id="gorgias-chat-widget-install-v3" src="https://config.gorgias.chat/bundle-loader/01GYCCDCW88VNV63N6KM48AJNC?source=shopify1click"></script>
<script id="gorgias-chat-shopify-install">
    !function (_) {
        _.SHOPIFY_PERMANENT_DOMAIN = "{{ shop.permanent_domain }}", _.SHOPIFY_CUSTOMER_ID = "{{ customer.id }}", _.SHOPIFY_CUSTOMER_EMAIL = "{{ customer.email }}"
    }(window || {});
</script>
<!--Gorgias Chat Widget End-->

<!-- audio hook tracking -->
<img src="https://listen.audiohook.com/70480fba-53d0-495f-9ca6-bc0db3720a69/pixel.png?type=pageview" style="display: none;">

<!--get emails  suppression -->
<script>
    window.addEventListener("klaviyoForms", function (e) {
        if (e.detail.type == 'submit') {
            geq.suppress();
        }
    });
</script>

<!-- Quantcast Tag -->
<script type="text/javascript">
    window._qevents = window._qevents || [];

    (function () {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();

    window._qevents.push({
        qacct: "p-LdyfG7usW8QRc",
        uid: "__INSERT_EMAIL_HERE__"
    });
</script>

<noscript>
    <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-LdyfG7usW8QRc.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
</noscript>
<!-- End Quantcast tag -->

{% render "loyalty-lion-tiktok" %}

<script src="//keep-and-share-your-cart.incubate.dev/js/core/main.min.js?timestamp=1690435895&shop=vktry-gear.myshopify.com" defer></script>

<script src='https://navidium-static-assets.s3.amazonaws.com/navidium-widgets/plus/checker.js' defer></script>
</body>

</html>
