<style>
    #quickMenu {
        display: none !important;
    }

    main picture,
    main picture img {
        display: block;
        width: 100%;
        margin: auto;
    }

    /******* Science ********/

    #shopify-section-the-science {
        position: relative;
        top: -180px;
        z-index: -1;
        margin-bottom: -180px;
    }


    @media (max-width: 800px) {


        #shopify-section-the-science {
            top: 0px;
            margin-bottom: 0px;

        }
    }

    /****** Sold *****/

    #sold {
        padding: 60px 0;
        background-color: #f3f3f3;
    }

    #soldTitle {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        padding: 0 20px;
        font-weight: bold;
        max-width: 810px;
        margin: auto;
    }

    #soldTitle span {
        color: var(--gold);
    }

    #soldTrust {
        max-width: 300px;
        margin: 0 auto 25px;
        display: block;
    }

    @media (max-width: 800px) {
        #soldTitle {
            font-size: 24px;
        }
    }
</style>

<section id="sold">
    <div id="soldTitle">With
        <span>over 100,000 pairs sold</span> see why VK’s are endorsed by top athletes & experts in Sports Medicine
    </div>
    <div class="quoteGrid">
        <div class="quoteGridInner">
            <div>
                <div class="quoteGridTitle">
                    <img class="quoteImage" src="{{ 'quote-up.png' | file_url }}">
                    She gained inches on her jump…
                </div>
                <div class="quoteGridBody">

                    My daughter plays club and High School Volleyball. I wanted to give her an edge on her verticle jump at the net, and some height on her swing (outside hitter). She was extremely reluctant to try these insoles for some reason, but once she did, it was a HUGE difference. She gained INCHES on her jump and LOVES how these allow her to play longer without getting tired.
                </div>
                <div class="quoteBy">
                    - Wayne A.
                    <img class="quoteImage" src="{{ 'quote-down.png' | file_url }}">
                </div>
            </div>
            <div>
                <div class="quoteGridTitle">
                    <img class="quoteImage" src="{{ 'quote-up.png' | file_url }}">
                    Legit game changer…
                </div>
                <div class="quoteGridBody">
                    We bought my son the Gold pro-level VKs for Christmas. He had come off of a summer injury and it was his high school basketball senior season so we wanted to give him a boost, and add protection! These inserts were and are a game-changer in his performance! If you are on the fence about purchasing Vk’s, do not be! They are 1000% legit!!!!
                </div>
                <div class="quoteBy">
                    - Jennifer Z.
                    <img class="quoteImage" src="{{ 'quote-down.png' | file_url }}">
                </div>
            </div>
            <div>
                <div class="quoteGridTitle">
                    <img class="quoteImage" src="{{ 'quote-up.png' | file_url }}">
                    My son loves the insoles…
                </div>
                <div class="quoteGridBody">
                    He has really flat feet so they’re helping him a lot. His explosiveness is awesome! He can move up and down the basketball court much better than before.
                </div>
                <div class="quoteBy">
                    - Nikki C.
                    <img class="quoteImage" src="{{ 'quote-down.png' | file_url }}">
                </div>
            </div>
            <div>
                <div class="quoteGridTitle">
                    <img class="quoteImage" src="{{ 'quote-up.png' | file_url }}">
                    Product was received very quickly…
                </div>
                <div class="quoteGridBody">
                    My daughter has been using your product for 6 years and is very happy about it. She tried going on without it for about half a season and that didn’t last. She said it makes her feel a lot quicker and lighter on her feet. Thanks for making a product where athletes can take advantage of having that little edge over the competition.
                </div>
                <div class="quoteBy">
                    - Matt S.
                    <img class="quoteImage" src="{{ 'quote-down.png' | file_url }}">
                </div>
            </div>
        </div>
    </div>
    <img id="soldTrust" src="{{ 'trust.png' | file_url }}">
</section>
