<style>
    .bounce-feature__container {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden
    }

    @media (max-width: 991px) {
        .bounce-feature__container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
        }
    }

    .bounce-feature__left-bg-container {
        position: absolute;
        width: 48%;
        height: calc(100% - 14rem)
    }

    .bounce-feature__left-bg-container img, .bounce-feature__right-bg-container img, .bounce-feature__image-container img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 991px) {
        .bounce-feature__left-bg-container {
            height: 100%;
            width: calc(100% - 50px);
            top: 45%;
            max-height: 620px
        }

        .bounce-feature__left-bg-container:after {
            content: none
        }
    }

    @media (max-width: 767px) {
        .bounce-feature__left-bg-container {
            top: 58%;
            max-height: 363px
        }
    }

    .bounce-feature__right-bg-container {
        position: absolute;
        width: 55%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1
    }

    @media (max-width: 991px) {
        .bounce-feature__right-bg-container {
            width: 100%;
            height: 50%
        }
    }

    @media (max-width: 767px) {
        .bounce-feature__right-bg-container {
            height: 65%
        }
    }

    .bounce-feature__right-bg-container:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: -o-linear-gradient(333deg, #000 33%, hsla(0, 0%, 100%, 0) 90%);
        background: linear-gradient(117deg, #000 33%, hsla(0, 0%, 100%, 0) 90%)
    }

    .bounce-feature__content-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 7rem;
        padding-bottom: 7rem
    }

    @media (max-width: 991px) {
        .bounce-feature__content-container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding-top: 4rem;
            padding-bottom: 0
        }
    }

    .bounce-feature__image-container {
        position: absolute;
        max-width: 350px;
        width: 100%;
        left: 43%;
        -webkit-transform: translate(-43%, 1.5rem);
        -ms-transform: translate(-43%, 1.5rem);
        transform: translate(-43%, 1.5rem)
    }

    @media (max-width: 991px) {
        .bounce-feature__image-container {
            position: relative;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            left: auto
        }
    }

    @media (max-width: 767px) {
        .bounce-feature__image-container {
            max-width: 211px
        }
    }

    .bounce-feature__image-container:after {
        content: "";
        display: block;
        padding-bottom: 200%
    }

    .bounce-feature__features {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: relative;
        padding: 10rem 0
    }

    @media (max-width: 991px) {
        .bounce-feature__features {
            padding: 0 0 5rem
        }
    }

    .bounce-feature__feature {
        max-width: 344px;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff
    }

    .bounce-feature__feature:not(:first-child) {
        margin-top: 4rem
    }

    .bounce-feature__feature a {
        color: #fff
    }

    .bounce-feature__description {
        margin-top: 1rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
</style>

<section class="bounce-feature" data-module="bounce-feature">
    <div class="bounce-feature__container">
        {% if section.settings.left_bg %}
            <div class="bounce-feature__left-bg-container">
                <img src="{{ section.settings.left_bg | image_url: width: 1000 }}"
                     alt="{{ section.settings.left_bg.alt }}">
            </div>
        {% endif %}
        {% if section.settings.right_bg %}
            <div class="bounce-feature__right-bg-container">
                <img src="{{ section.settings.right_bg | image_url: width: 1000 }}"
                     alt="{{ section.settings.right_bg.alt }}">
            </div>
        {% endif %}
        <div class="bounce-feature__content-container container">
            {% if section.settings.image %}
                <div class="bounce-feature__image-container">
                    <img src="{{ section.settings.image | image_url: width: 1000 }}"
                         alt="{{ section.settings.image.alt }}">
                </div>
            {% endif %}
            <div class="bounce-feature__features">
                {% for block in section.blocks %}
                    <div class="bounce-feature__feature">
                        <h2 class="bounce-feature__title h4">{{- block.settings.title -}}</h2>
                        <div class="bounce-feature__description b3">{{- block.settings.description -}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Bounce Feature",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_bg",
      "label": "Left BG"
    },
    {
      "type": "image_picker",
      "id": "right_bg",
      "label": "Right BG"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "name": "Feature",
      "type": "feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bounce Feature",
      "settings": {
      },
      "blocks": [

      ]
    }
  ]
}
{% endschema %}